/*全局样式放在这里 ------------------------------------*/
*{margin:0px;padding:0px;}
body{color:#333;font:14px/1.5 arial;background-color:#eaeaea;background:url(/images/topnav_bg.gif) repeat-x 0 115px;}
.clear{float:none;clear:both;}
ul, li {list-style:none;}
.dis{display:none;}
a{text-decoration:none;}
.wtcenter{width:1120px;margin:0 auto;}
.text-left{text-align:left;}
textarea{vertical-align: top;}
/*全局样式放在这里 ------------------------------------*/

/*头部样式放在这里 ------------------------------------*/
#header{height:30px;width:100%;font:13px Arial,sans-serif;background-color:#222}
#header .head{white-space:nowrap;height:30px;padding-left:4px;float:left;}
#header ul.nav{line-height:27px;}
#header .nav li{display:inline-block;line-height:27px;vertical-align:top;}
#header .nav li a .title_head{display:block;border-top:2px solid transparent;}
#header .nav li a .title{display:block;padding:0 5px;position:relative;z-index:1000;color:#CCC;}
#header .nav li:hover{background-color:white;}
#header .nav li:hover a .title_head{background-color:red;}
#header .nav li:hover a .title{color:#36C;}

/*头部样式放在这里 ------------------------------------*/

/*导航样式放在这里 ------------------------------------*/
#logo{height:85px;}
#logo h1{line-height:85px;}
#nav{font:13px/30px Arial,Verdana,Geneva,sans-serif;}
#nav ul li{ float:left;display:inline;width:130px;}
#nav ul li a{display:inline-block;height:30px;color:#5d5d5d;width:60%;margin-left:20%; padding-right:20%;text-align:center;}
#nav ul li a:hover {color: #e00400;outline: none;}
#nav ul li.selected{ background:url(/images/topnav_tab.gif) no-repeat bottom left;}
#nav ul li.selected a{background: url(/images/topnav_tab.gif) no-repeat bottom right;color: #e20400;}
#message h2{color:#e00400;padding-top:30px;}
/*导航样式放在这里 ------------------------------------*/

/*第一种框架-----------------------------------------------------------------------------------------------*/

/*边框*/
#content {margin-top:30px;margin-bottom: 20px;border:1px solid #d3d3d3;border-radius: 3px;box-shadow: 0 3px 3px #ddd;
	-moz-box-shadow: 0 3px 3px #ddd;-webkit-box-shadow: 0 3px 3px #ddd;-moz-border-radius: 3px;-webkit-border-radius: 3px;}

/*边框头部*/
#content .container_hd {padding: 0 20px;border-bottom: 1px solid #c3c3c3;font-size: 14px;color: #545454;line-height: 40px;
box-shadow: inset 0 1px 0 0 #fcfcfc;
-moz-box-shadow: inset 0 1px 0 0 #fcfcfc;
-webkit-box-shadow: inset 0 1px 0 0 #fcfcfc;
background-color: #e9e9e9;
background-image: -moz-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e3e3e3));
background-image: -webkit-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);
background-image: -o-linear-gradient(top,#f3f3f3 0,#e3e3e3 100%);
background-image: linear-gradient(to bottom,#f3f3f3 0,#e3e3e3 100%);}
#content .container_hd h2 {font-weight: 400;font-style: normal;font-size: 14px;}

/*边框左侧样式*/
#content #sidePanel {float:left;width:190px;border-right: 1px solid #d3d3d3;cursor: pointer;}
#content #sidePanel ul {margin-top: 10px;}
#content #sidePanel ul li{display: block;padding:5px 0px;color:#000;line-height:31px;text-indent:10px;}
#content #sidePanel ul li p{padding-left:10px;}
#content #sidePanel ul li:hover{border-left:6px solid #6E778A;background-color:#f0f2f3;}
#content #sidePanel ul li.selected {font-weight:bold;background-color:#EDEEF0;border-left:6px solid #3794E3;}


/*边框右侧统一样式*/
#mainPanel{width:889px;float:right;margin-left:-2px;padding:20px;border-left:1px solid #d3d3d3;}
#mainPanel iframe{width: 100%;border:0;display: inline;}

/*第一种框架-----------------------------------------------------------------------------------------------*/


/*页面底部样式 -----------------------------------------*/
#footer{background-color:#F7F7F7;border-top:1px solid #ddd;}
#promote {text-align:center;margin-top:6px;font-size:12px;color:#999;}
#promote a{color:#999;}
#promote a:hover{color:#db0303;}
/*页面底部样式 -----------------------------------------*/