%% vim: ft=erlang
{require_min_otp_vsn, "R17"}.

%% {lib_dirs, ["../apps"]}.
%% {erl_first_files, ["player_mod", "handle_client", "safe_ets"]}.

{erl_opts, [
    %%{parse_transform, lager_transform},
	debug_info,
    %warnings_as_errors,
    
    warn_export_all,
    nowarn_unused_record,

    {d, env_develop, 1},
    %%{d, env_product, 1},

	{src_dirs, ["src/"]},
	{i, "include/"}

]}.

%% {sub_dirs, ["../apps/common", "../apps/config", "../apps/cron", "../apps/esqlite", "../apps/global_table", "../apps/goldrush",
%%     "../apps/lager", "../apps/lc", "../apps/pangzi"]}.

%%{pre_hooks, [
%%             %%{compile, "priv/tools/gen_module_define"}
%%             {compile, "priv/tools/config_pp"}
%%            ]}.
