[{"server_list", "列表服", "xw_user", "root", "123", "127.0.0.1", 3306},

[{"all", "全部大区", "xw_user", "root", "123", "127.0.0.1", 3306},
 {"7", "武林至尊", "xw_7","root","123","127.0.0.1",3306},
 {"14", "绝代双骄", "xw_14","root","123","127.0.0.1",3306}],
 
[{"all", "全部渠道"},
 {"101", "google版"},
 {"102", "IOS版"},
 {"103", "mycard版"},
 {"105", "萌萌哒google版"},
 {"107", "萌萌哒mycard版"},
 {"1001", "官网IOS版"},
 {"1002", "91版"},
 {"1003", "PP助手"}]].